
body {
  background-image: url("../images/background.png") ;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
p {
  font-family: georgia;
  font-size: 25px;
  margin: 2% 6%
}
main {
  color: #e2e2e2;
  margin: 0% 6%;
  border: 0px;
  padding-top: 1px;
  border-style: solid;
  border-color: #202020;
}
h1 {
  text-align: center;
  font-size: 80px;
  color: #ffffff
}
h2 {
  text-align: center;
  color: #f2f2f2;
  font-family: georgia;
  font-size: 35px;
  margin: 2% 10%;
  text
}
h3 {
  text-align: center;
  color: #e2e2e2;
  font-family: arial black;
  font-size: 30px;
  margin: 2% 10%;
  text

}
h4 {
  font-size: 23px;
}
ul {
 list-style-type: none;
 border-color: grey;
 margin: 0% 6%;
 padding: 0%;
 overflow: hidden;
 text-align: center;
}
li {
 float: left;
}
li a {
 display: block;
 text-align: center;
 margin-top: 17px;
 margin-right:50px;
 margin-left:80px;
 margin-bottom: 0px;
 padding: 0px;
 font-size: 150%;
 font-family: impact;
}
.lightgrey{
   background-color: #505050;
}
.toptab {
  border-top-right-radius: 42%;
  border-top-left-radius: 42%;
  font-size: 40px;
  font-family: georgia;
  color: #f2f2f2;
  margin: 10px 600px 10px 0x;
}
.middle{
  text-align: center;
}
.nospace {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  border-top: 0px;
}
a:link{
  color: #d2d2d2;
  text-decoration: none;
}
a:visited {
  color: #d2d2d2;
  text-decoration: none;
}
a:hover{
  color: #FFFFFF;
  text-decoration: none;
}
a:active{
  color: #d2d2d2;
  text-decoration: none;
}
#meat {
background-color: #202020;
border-left: 66px;
border-right: 66px;
border-color: #303030;
border-radius: 0px;
border-style: solid;
}
