body {
  margin: 0px;
}
#topImgCont {
  height:220px;
  background-color: rgba(0,68,66,1);
}
.navBar {
  background-color: rgba(0,187,224,1);
  border-style: solid;
  border-width: 2px;
  border-color: black;
  float:left;
  list-style-type: none;
  width: 100%;
  margin-top: 0%;
}
.navBarEle {
  float: left;
  font-size: 50px;
  list-style-type: none;
  padding: 0% 5%;
  background: linear-gradient(180deg, rgba(0,187,224,1) 0%, rgba(0,147,176,1) 100%);
  color: rgb(255, 255, 255);
}
#profile {
  float: left;
  border-radius: 0 100% 0 0;
  padding-right: 10%;
}
#topLeft {
  border-radius: 75px 0 0 0;
  margin-left: 0;
  padding-left: 2%;
}
#topImg {
  margin-top: 0px;
  overflow: scroll;
  margin-bottom: 0%;
  width: 100%;
  height: 220px;
  background: linear-gradient(180deg, rgba(0,68,66,1) 0%, rgba(0,144,172,1) 70%, rgba(0,212,255,1) 100%);
}
/* for navbar */
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
a:hover {
  color: rgb(0, 247, 255)
}
